body{
    background-color:rgb(225, 235, 246);

}

body.dark{
    background-color:rgb(40,42,54);
    color:white;
    color:rgb(108,117,125);
}

form .dark{
    background-color: rgb(33,34,44);
}

td,th{
    color:black;
}

td.dark,th.dark{
    color:white;
}

.navbar{
    background-color: #003050;
    padding-top:1em;
    padding-bottom:1em
}

.navbar.dark{
    background-color: rgb(33,34,44);
    padding-top:1em;
    padding-bottom:1em
}

.btn-primary{
    background-color: #003050;
    border: 0px;
}

#experiencia,#formacion,#skills,#datos{
    margin-bottom:3em;
}

.row-g0{
    align-items: center;
}

.rounded-start{
    height: 90px;
}


a{
    text-decoration:none;
}